.details {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.form-header {
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  gap: 0.5rem;
}

.form-header svg {
  width: 2rem;
}

input {
  width: 30rem;
  height: 2.5rem;
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  font-size: 1.2rem;
  border: none;
  background-color: var(--secondary);
  border-radius: 10px;
}

textarea {
  width: 30rem;
  resize: none;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  font-size: 1.2rem;
  border: none;
  background-color: var(--secondary);
  border-radius: 10px;
}

label > div {
  font-size: 1.2rem;
  font-weight: 600;
}

#eduForm,
#expForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edu-date,
.exp-date {
  display: flex;
  gap: 1rem;
}

.edu-date input,
.exp-date input {
  width: 14rem;
}

.app {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.edit-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.render-container {
  min-height: 29.7cm;
  width: 21cm;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#personalDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-personal-details {
  background-color: var(--primary);
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cv-personal-more-info {
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}

.cv-personal-more-info > div {
  display: flex;
  gap: 0.3rem;
}

.cv-name {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.cv-personal-details svg {
  fill: white;
  width: 1.5rem;
}

.cv-education-details,
.cv-experience-details {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 0rem 4rem;
  gap: 1rem;
}

.cv-section-header {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.section-info {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
}

.info-left {
  padding-top: 0.1rem;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}

.info-right {
  display: flex;
  flex-direction: column;
}

.organization-info {
  font-weight: 800;
  font-size: 1.2rem;
}

.date-info {
  font-size: 1rem;
  margin-top: 0.1rem;
}

.more-info {
  font-weight: 650;
}

.form-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

button svg {
  width: 1.3rem;
}

.form-controls button {
  height: 2.2rem;
  width: 6rem;
  font-size: 1.2rem;
  font-weight: 700;

  border-radius: 8px;
}

.delete {
  width: 6rem;
  display: flex;
  padding-top: 0.4rem;
  margin-left: 0.3rem;
  border: 1px solid var(--primary);
}

.button-right {
  display: flex;
  gap: 1rem;
}

.save {
  border: none;
  background-color: #187ff5;
  color: white;
}

.cancel {
  border: 1px solid var(--primary);
}

.add-education,
.add-experience {
  display: flex;
  justify-content: center;
}

.add-form-btn svg {
  width: 1.5rem;
}

.add-form-btn {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 20px;
  border: 4px solid var(--secondary);
  background-color: white;
  height: 2.2rem;
  padding: 0.5rem;
}

.education-list {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list {
  cursor: pointer;
  border: 3px solid var(--secondary);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list svg {
  width: 2rem;
}
